
.boats {
    margin: 1em;
    padding: 2em;
    text-align: left;  
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: .75em;
}

.boats img {
    display: flex;
    width: 80%; 
    margin: auto;
   
}
@media only screen and (max-width: 600px) {
    .boats {
        display: flex;
        flex-direction: column;
       
    }
}