.fishing-trips-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  padding: 5rem 0;
  width: 100%;
  gap: 5rem;
}
.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tripsSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}
.fishingTrip {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #000;
}

.tripDetailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.tripImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fishingTrip img {
  display: flex;
  width: 80%;
  margin: auto;
}
.bodyText {
  font-size: 1.25em;
}
.fishingTrip h2 {
  font-size: 2.2em;
  font-weight: bold;
}

@media only screen and (max-width: 991px) {
  .fishingTrip {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }
}
