.footer{
    width: 100vw;
    height: 15vh;
    background-color: #212529;
    color: white;
    height: 15em;
    padding-bottom: 2em;
}
.footer p{
    font-size: 1.5em;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer a:hover{
    text-decoration: none;
    color: green;
}
.links a{
    padding-left: .5em;
    padding-right: .5em;
    width: 20px;
    font-size: 2em;
}