h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}
.hero {
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20252a;
  color: white;
  gap: 2rem;
  padding: 5rem 0;
}
.heroContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.heroCopy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
}
.heroImage {
  flex: 1;
}
.noDumping {
  width: 100%;
  min-width: 300px;
}
.homeContentWrapper {
  padding: 5rem 0;
}
.homeRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.mainContent {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap-reverse;
}
.mainContent p {
  max-width: 65ch;
  flex: 1;
  min-width: 400px;
}
.homeImageGallery img {
  min-width: 350px;
  flex: 1;
}

.homeImageGallery {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .noDumping {
    width: 275px;
  }
  .homeRow img {
    width: 275px;
  }
}
